.egreso {
  width: 370px;

  .egreso_titulo {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;
    color: #ff5049;
  }


  .elemento_valor{
    color: #FF5049;
  }

  .elemento_porcentaje{
    color: #FF5049;
  }
  
  .elemento_eliminar--btn {
    color: #FF5049;
  }


}
